  * {margin: 0; padding: 0; box-sizing: border-box; font-size: 25px; font-weight: bold; color: #33372C; background-color: #FFE5CF;}
ul {list-style: none;}
.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  position: fixed;
}

.left-path {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-right: 5px solid #33372C;
}

label {
  font-size: 30px;;
}

select, option {
  background-color: #557C56;
  color: white;
  border-radius: 10px;
  text-align: center;
  border: 1px solid #33372C;
  padding: 5px;
}

.right-path {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
}

p {
  height: 50px;
  position: relative;
  display: inline-block;
  background-color: #557C56;
  color: white;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #33372C;
}

#tooltip {
  display: none;
  background-color: #FF885B;
  padding: 5px;
  border-radius: 10px;
  color: white;
  position: absolute;
  border: 1px solid #33372C;
}

p:hover #tooltip {
  display: inline-block;
}

p > span#tooltip > span {
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 15px solid transparent;
  position: absolute;
}

/* Same with top and bottom */
#tooltip.top, #tooltip.bottom {
  left: 50%;
  transform: translateX(-50%);
}

p > span#tooltip.top > span,
p > span#tooltip#tooltip.bottom > span {
  left: 50%;
  transform: translateX(-50%);
}

/* Top */
#tooltip.top {
  bottom: calc(100% + 50%);
}

p > span#tooltip.top > span {
  border-top-color: #FF885B;
  border-bottom-width: 0;
  top: 100%;
}

/* Bottom */
#tooltip.bottom {
  top: calc(100% + 50%);
}

p > span#tooltip.bottom > span {
  border-bottom-color: #FF885B;
  border-top-width: 0;
  bottom: 100%;
}

/* Same with left and right */
#tooltip.left, #tooltip.right {
  top: 50%;
  transform: translateY(-50%);
}

p > span#tooltip.left > span,
p > span#tooltip#tooltip.right > span {
  top: 50%;
  transform: translateY(-50%);
}

/* left */
#tooltip.left {
  right: calc(100% + 10%);
}

p > span#tooltip.left > span {
  border-left-color: #FF885B;
  border-right-width: 0;
  left: 100%;
}

/* right */
#tooltip.right {
  left: calc(100% + 10%);
}

p > span#tooltip.right > span {
  border-right-color: #FF885B;
  border-left-width: 0;
  right: 100%;
}