* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  position: relative;
}

.slide {
  display: none;
}

.slider:not(:has(:target)) div:first-child {
  display: block;
}

.slide:target {
  display: block;
}

.slide img {
  position: relative;
}

.slide a>img {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 10%;
}

.slide a:first-child>img {
  left: 39%;
}

/*  */
.target ul {
  display: flex;
  list-style: none;
}

.target ul li {
  border: 1px solid black;
  padding: 10px;
}

.tr-body {
  border: 1px solid black;
  width: 300px;

  padding: 10px;
}

.target .tr-body>div {
  display: none;
}

.target .tr-body>div:target {
  display: block;
}

.target .tr-body:not(:has(div:target)) div:first-child {
  display: block;
}

/*  */

/*  */
.ra-body {
  border: 1px solid black;
  width: 300px;

  padding: 10px;
}

#ra1,
#ra2,
#ra3,
#ra-b1,
#ra-b2,
#ra-b3 {
  display: none;
}

#ra1:checked~.ra-body #ra-b1,
#ra2:checked~.ra-body #ra-b2,
#ra3:checked~.ra-body #ra-b3 {
  display: block;
}

#ra1:checked+label,
#ra2:checked+label,
#ra3:checked+label {
  font-weight: bold;
  font-size: 25px;
}

/*  */
.collapse input:checked~div,
.collapse input:checked~label:first-of-type+label,
.collapse input:not(:has(:checked))~label:first-of-type {
  display: block;
}

.collapse div,
.collapse input,
.collapse input:not(:has(:checked))~label:nth-of-type(2),
.collapse input:checked~label:first-of-type {
  display: none;
}

.collapse {
  width: 300px;
}

.collapse div {
  border: 1px solid black;
  width: 300px;
  padding: 10px;
}

.collapse label {
  border: 1px solid yellowgreen;
  background-color: bisque;
  width: 50%;
  text-align: center;
}

/*  */
.modal div {
  display: none;
}

.modal input:checked ~ div {
  display: block;
}

.modal div {
  width: 500px;
  height: 300px;
  border: 1px solid black;
  position: absolute;
  top: 50%;
  left: 30%;
}

.modal label:last-of-type {
  position: absolute;
  top: 55%;
  left: 65%;
}